body {
    margin: auto;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    background-color: #222 !important;
    color: #E0E0E0 !important;
}

.open-sans {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 12;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

:root {
    --bs-body-bg: #121212;
    --bs-body-color: #E0E0E0;

    --bs-card-bg: #1E1E1E;
    --bs-card-rgb: 30, 30, 30 !important;

    --bs-border-color: #333333;
    --bs-border-color-rgb: 51, 51, 51 !important;

    --bs-primary: #F4B400 !important;
    --bs-primary-rgb: 244, 180, 0 !important;

    --bs-secondary: #4A90E2 !important;
    --bs-secondary-rgb: 74, 144, 226 !important;
}


.custom-table {
    border: 1px solid #444444;
}

.custom-table th {
    background-color: #222 !important;
    color: #f4b400 !important;
}

.custom-table tbody td {
    background-color: #222 !important;
    color: white;
}